{{ define "delete-staff" }}
<button id="deleteBtn{{.Username}}" class="rounded-md bg-red-900 px-2 py-1 text-white hover:bg-red-700">
    Delete
</button>

<div id="modalDelete{{.Username}}" class="relative z-10 hidden">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                <div class="p-4">

                    <form action="/admin/manage-staff/delete" method="POST">
                        <h2 class="text-bold text-lg text-red-700"><strong>Warning</strong></h2>
                        <p class="mt-4 text-xs text-red-700">
                            You are about to delete this staff account. 
                            <strong>This action cannot be undone.</strong> 
                            Are you sure about this?
                        </p>

                        <div class="mt-4 grid gap-4">
                            <input type="hidden" name="staff" value="{{.Username}}">

                            <div class="">
                                <label>Password</label>
                                <br>
                                <input type="password" name="password"
                                autofocus autocomplete="off" required
                                class="w-full rounded-md border border-gray-400 p-2 focus:border-red-700 focus:outline-none"
                                placeholder="admin password">   
                            </div>

                            <div class="flex justify-end gap-2">
                                <button id="closeDelete{{.Username}}" type="button" class="w-20 rounded-md border border-gray-400 px-3 py-1 hover:bg-gray-100">
                                    Cancel
                                </button>
                                <button type="submit" class="w-20 rounded-md bg-red-900 px-3 py-1 text-white hover:bg-red-700">
                                    Save
                                </button>
                            </div>

                        </div>

                    </form>   

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('deleteBtn{{.Username}}').addEventListener('click', () => {
        document.getElementById('modalDelete{{.Username}}').classList.toggle('hidden')
    })

    document.getElementById('closeDelete{{.Username}}').addEventListener('click', () => {
        document.getElementById('modalDelete{{.Username}}').classList.toggle('hidden')
    })
</script>
{{ end }}
