{{ define "fulfill-request" }}
<button id="fulfillBtn{{.Requestor}}" class="w-16 rounded-md bg-teal-900 px-3 py-1 text-white hover:bg-teal-700">
    Fulfill
</button>

<div id="modalFulfill{{.Requestor}}" class="relative z-10 hidden">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                <div class="p-4">

                    <form action="/admin/request/fulfill" method="POST">
                        <h2 class="text-bold text-lg">Reset staff password</h2>

                        <div class="mt-4 grid gap-4">
                            <input type="hidden" name="requestId" value="{{.Id}}">

                            <div class="">
                                <label for="newPassword">New staff password</label>
                                <br>
                                <input type="newPassword" name="newPassword"
                                autofocus autocomplete="off" required
                                class="w-full rounded-md border border-gray-400 p-2 focus:border-red-700 focus:outline-none"
                                id="newPassword" placeholder="new staff password">   
                            </div>

                            <div class="">
                                <label for="password">Admin Password</label>
                                <br>
                                <input type="password" name="password"
                                autofocus autocomplete="off" required
                                class="w-full rounded-md border border-gray-400 p-2 focus:border-red-700 focus:outline-none"
                                id="password" placeholder="admin password">   
                            </div>

                            <div class="flex justify-end gap-2">
                                <button id="closeFulfill{{.Requestor}}" type="button" class="w-20 rounded-md border border-gray-400 px-3 py-1 hover:bg-gray-100">
                                    Cancel
                                </button>
                                <button type="submit" class="w-20 rounded-md bg-red-900 px-3 py-1 text-white hover:bg-red-700">
                                    Save
                                </button>
                            </div>

                        </div>

                    </form>   

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('fulfillBtn{{.Requestor}}').addEventListener('click', () => {
        document.getElementById('modalFulfill{{.Requestor}}').classList.toggle('hidden')
    })

    document.getElementById('closeFulfill{{.Requestor}}').addEventListener('click', () => {
        document.getElementById('modalFulfill{{.Requestor}}').classList.toggle('hidden')
    })
</script>
{{ end }}
