{{ define "search-page" }}
<div class="col-span-7">
    <h1 class="mb-4 text-xl">Search student</h1>

    <form action="/student/search" method="POST" class="flex w-full justify-between gap-4">
        <input type="text" id="search-bar" autocomplete="off" autofocus name="search" class="flex-1 rounded-sm p-1 outline outline-1" placeholder="Search lastname or File Control Number">
        <select id="programs" name="program" class="w-20 rounded-sm bg-white px-2 outline outline-1">
            <option value="all">All</option>
        </select>
        <button type="submit" class="rounded-md bg-red-900 px-3 py-1 text-white hover:bg-red-700">Search</button>
    </form>

    <table class="mt-4 w-full border text-sm">
        <thead class="bg-gray-100">
            <tr class="[&>*]:p-2">
                <td>Control Number</td>
                <td>Lastname</td>
                <td>Firstname</td>
                <td>Middlename</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {{ if .students }}
            {{ range .students }}
            <tr class="border py-2 hover:bg-gray-100 [&>*]:p-2">
                <td>{{ .Control_Number }}</td>
                <td>{{ .Lastname }}</td>
                <td>{{ .Firstname }}</td>
                <td>{{ .Middlename }}</td>
                <td>
                    <a 
                        href="/student/{{ .Control_Number }}" 
                        class="rounded bg-teal-900 px-3 py-1 text-white hover:bg-teal-700"
                        >
                        View
                    </a>
                </td>
            </tr>
            {{ end }}
            {{ else }}
            <tr class="[&>*]:py-6">
                <td colspan="5" align="center">No Results</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
<script src="/scripts/search-autofocus.js"></script>
<script>
    const programs = {{ .programs }}
    const selection = document.getElementById('programs')

    programs.forEach(program => {
        const option = document.createElement("option");
        option.value = program;
        option.textContent = program;
        selection.appendChild(option);
    })
</script>
{{ end }}
