package index

import "github.com/beeploop/our-srts/web/views/layouts"

templ IndexPage() {
	@layouts.DefaultLayout() {
		<h1 class="">Hello world</h1>
		<a href="/auth/login" class="font-blue-500 hover:underline">Login</a>
	}
}
