<!DOCTYPE html>
<html lang="en">
    {{ template "head" }}

    <body>
        {{ template "header" .user }}

        <div class="mx-auto mt-4 max-w-5xl">
            
            <div class="col-span-7 py-4">
                <h1 class="mb-4 text-xl">Search student</h1>

                <form action="/staff/search" method="POST" class="flex w-full justify-between gap-4">
                    <input type="text" id="search-bar" autocomplete="off" autofocus name="search" 
                    class="w-full rounded-md border border-gray-400 px-2 focus:border-red-700 focus:outline-none" 
                    placeholder="Search lastname or File Control Number">
                    <select id="programs" name="program" class="w-20 rounded-md bg-white px-2 outline outline-1">
                        <option value="all">All</option>
                    </select>
                    <button type="submit" class="flex items-center gap-2 rounded-md bg-red-900 px-3 py-1 text-white hover:bg-red-700">
                        <svg fill="#FFFFFF" width="16px" height="16px" viewBox="-2.5 -2.5 24 24" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin" class="jam jam-search"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12zm6.32-1.094l3.58 3.58a1 1 0 1 1-1.415 1.413l-3.58-3.58a8 8 0 1 1 1.414-1.414z"></path></g></svg>
                        Search
                    </button>
                </form>

                <table class="mt-4 w-full border text-sm">
                    <thead class="bg-gray-100">
                        <tr class="[&>*]:p-2">
                            <td>Control Number</td>
                            <td>Lastname</td>
                            <td>Firstname</td>
                            <td>Middlename</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        {{ if .students }}
                        {{ range .students }}
                        <tr class="border py-2 hover:bg-gray-100 [&>*]:p-2">
                            <td>{{ .Control_Number }}</td>
                            <td>{{ .Lastname }}</td>
                            <td>{{ .Firstname }}</td>
                            <td>{{ .Middlename }}</td>
                            <td>
                                <a 
                                    href="/student/{{ .Control_Number }}" 
                                    class="rounded bg-teal-900 px-3 py-1 text-white hover:bg-teal-700"
                                    >
                                    View
                                </a>
                            </td>
                        </tr>
                        {{ end }}
                        {{ else }}
                        <tr class="[&>*]:py-6">
                            <td colspan="5" align="center">No Results</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
            <script src="/scripts/search-autofocus.js"></script>
            <script>
                const programs = {{ .programs }}
                const selection = document.getElementById('programs')

                programs.forEach(program => {
                    const option = document.createElement("option");
                    option.value = program;
                    option.textContent = program;
                    selection.appendChild(option);
                })
            </script>

        </div>
    
    </body>
</html>
