package app

import (
	"github.com/beeploop/our-srts/internal/infrastructure/http/viewmodel"
	"github.com/beeploop/our-srts/web/views/layouts"
)

templ ManageStaffPage(admin viewmodel.Admin) {
	@layouts.MainLayout(admin) {
		<h1>Manage Staff Page</h1>
	}
}
