package app

import (
	"github.com/beeploop/our-srts/internal/infrastructure/http/viewmodel"
	"github.com/beeploop/our-srts/web/views/components"
	"github.com/beeploop/our-srts/web/views/layouts"
)

templ RequestsPage(admin viewmodel.Admin, requests []viewmodel.PasswordResetRequest) {
	@layouts.MainLayout(admin) {
		@components.PrintJSON(requests)
	}
}
