<!DOCTYPE html>
<html lang="en">
    {{ template "head" }}

    <body>
        <!-- component -->
        <main class="flex h-screen w-full flex-col items-center justify-center">
            <h1 class="text-9xl font-extrabold tracking-widest text-gray-500 underline">404</h1>
            <div class="absolute rotate-12 rounded bg-red-900 px-2 text-sm text-white">
                Page Not Found
            </div>
            <button class="mt-8">
                <a
                    href="/"
                    class="border-2 border-red-800 px-8 py-4 text-red-900 hover:bg-red-900 hover:text-white">
                        Go back home
                </a>
            </button>
        </main>
    </body>
</html>
