<!DOCTYPE html>
<html lang="en">
    {{ template "head" }}

    <body>

        {{ template "header" .user }}
    
        <div class="mx-auto my-4 max-w-5xl rounded-md border p-4">

            <div class="py-2">
                <a href="/admin/search" class="rounded-md bg-yellow-400 px-3 py-1 hover:bg-yellow-200">Back</a>
            </div>

            <!-- Student Information Part -->
            <div class="flex justify-between">
                <div class="flex gap-4">

                    <!-- Student Image -->
                    <div class="aspect-square w-40 border border-gray-400">
                        <img src="/public/placeholder.jpg" alt="profile picture" class="">
                    </div>

                    <!-- Student Info -->
                    <div class="flex flex-col justify-end">
                        <div class="text-bold flex text-lg uppercase">
                            <h2 class="w-40">
                                Name:
                            </h2>
                            <h2>
                                {{ .files.Lastname }}, {{ .files.Firstname }} {{ .files.Middlename }}
                            </h2>
                        </div>
                        <div class="flex text-sm">
                            <p class="w-40">File Control Number:</p>
                            <p id="studentControlNumber">{{ .files.ControlNumber }}</p>
                        </div>
                        <div class="flex text-sm">
                            <p class="w-40">Program:</p>
                            <p>{{ .files.Program.String }}</p>
                        </div>
                        <div class="flex text-sm">
                            <p class="w-40">Major:</p>
                            <p>{{ .files.Major.String }}</p>
                        </div>
                        <div class="flex text-sm">
                            <p class="w-40">File Location:</p>
                            <p class="text-red-600">{{ .files.File  }}</p>
                        </div>
                        <div class="flex text-sm">
                            <p class="w-40">Type:</p>
                            <p>{{ .files.Type }}</p>
                        </div>
                    </div>
                </div>

                <script>
                    const ctrlNo = document.getElementById('studentControlNumber').innerText
                </script>

                <!-- Info Actions -->
                <div class="flex flex-col justify-end">
                    <div class="flex gap-4 text-sm">
                        <!-- <button class="rounded bg-red-900 px-3 py-1 text-white hover:bg-red-700"> -->
                        <!--     Edit Student -->
                        <!-- </button> -->
                        {{ template "editStudent" .files }}
                        <button id="addNewOther" class="rounded bg-teal-900 px-3 py-1 text-white hover:bg-teal-700">
                            New File
                        </button>
                    </div>
                </div>
            </div>

            <!-- Student Files -->
            <div class="mt-4">
                <h2>Files</h2>
                <table class="w-full border text-xs">
                    <thead class="border bg-gray-100">
                        <tr class="[&>*]:px-1 [&>*]:py-2">
                            <td>Filename</td>
                            <td>Remarks</td>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody class="[&>*]:border">
                        {{ template "birth-certificate" .files }}
                        {{ template "NOAP" .files }}
                        {{ template "Usepat" .files }}
                        {{ template "TOR" .files }}
                        {{ template "GoodMoral" .files }}
                        {{ template "form138" .files }}
                        {{ template "PDS" .files }}
                        {{ template "DPP" .files }}
                        {{ template "HD" .files }}
                        {{ template "MarriageCert" .files }}
                        {{ template "Promise" .files }}
                        {{ template "HSD" .files }}
                        {{ template "MedCert" .files }}
                        {{ template "form137" .files }}
                        {{ template "approval" .files }}
                        {{ template "AFG" .files }}
                        {{ template "LowIncome" .files }}
                        {{ template "clearance" .files }}
                        {{ template "undertaking" .files }}
                        {{ template "LOA" .files }}
                        {{ template "AdvancedCredit" .files }}
                        {{ template "INC" .files }}
                        {{ template "SubjectValidation" .files }}
                        {{ template "Substitution" .files }}
                    </tbody>
                </table>
            </div>

            <div class="mt-4">
                <h2>Other</h2>
                <table class="w-full border text-xs">
                    <thead class="border bg-gray-100">
                        <tr class="[&>*]:px-1 [&>*]:py-2">
                            <td>Filename</td>
                            <td>Remarks</td>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody>
                        {{ if not .files.Other }}
                        <tr class="[&>*]:py-3">
                            <td colspan="5" align="center">No Other Files</td>
                        </tr>
                        {{ else }}
                        {{ range .files.Other }}
                        <tr class="hover:bg-gray-100 [&>*]:px-1 [&>*]:py-2">
                            <td>{{ .Filename }}</td>
                            <td>
                                <span class="badge-active">Existing</span>
                            </td>
                            <td>
                                <a 
                                    href="{{ .Location }}" 
                                    target="_blank"
                                    class="rounded bg-teal-900 px-3 py-1 text-white hover:bg-teal-700"
                                    >
                                    View
                                </a>
                            </td>
                        </tr>
                        {{ end }}
                        {{ end }}
                    </tbody>
                </table>
            </div>

        </div>

        <div id="modalOther" class="relative z-10 hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
            <!--
                Background backdrop, show/hide based on modal state.

                Entering: "ease-out duration-300"
                From: "opacity-0"
                To: "opacity-100"
                Leaving: "ease-in duration-200"
                From: "opacity-100"
                To: "opacity-0"
            -->
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

            <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
                <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                    <!--
                        Modal panel, show/hide based on modal state.

                        Entering: "ease-out duration-300"
                        From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                        To: "opacity-100 translate-y-0 sm:scale-100"
                        Leaving: "ease-in duration-200"
                        From: "opacity-100 translate-y-0 sm:scale-100"
                        To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                    -->
                    <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                        <div class="p-4">

                            <form action="/admin/upload" method="POST" enctype="multipart/form-data">
                                <h2>Other</h2>
                                <input type="text" name="controlNumber" value="{{ .files.ControlNumber }}" class="hidden">
                                <input type="text" name="lastname" value="{{ .files.Lastname }}" class="hidden">

                                <label for="filename">Filename</label>
                                <input type="text" required autofocus name="filename" class="rounded border p-2" id="filename">

                                <input type="file" name="Other">

                                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                                    <button type="submit" class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">
                                        Save
                                    </button>
                                    <button id="cancelOther" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">
                                        Cancel
                                    </button>
                                </div>
                            </form>   

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <script>
            document.getElementById('addNewOther').addEventListener('click', () => {
                document.getElementById('modalOther').classList.toggle('hidden')
            })
            document.getElementById('cancelOther').addEventListener('click', () => {
                document.getElementById('modalOther').classList.toggle('hidden')
            })
        </script>

    </body>
</html>
