<!DOCTYPE html>
<html lang="en">
    {{ template "head" }}

    <body>
        {{ template "header" }}
    
        <div class="mx-auto mt-4 max-w-sm border p-4 shadow-lg">
            <form action="/request" method="POST">
                <h2 class="text-bold text-lg">Request Password Reset</h2>

                <div class="mt-4 grid gap-4">
                    <div class="">
                        <label for="username">Username</label>
                        <br>
                        <input type="text" name="username" 
                        autofocus autocomplete="off" required
                        class="w-full rounded-md border border-gray-400 p-2 focus:border-red-700 focus:outline-none"
                        id="username" placeholder="username">   
                    </div>

                    <div class="flex justify-end gap-2">
                        <a href="/auth/login" class="w-20 rounded-md border border-gray-400 px-3 py-1 text-center hover:bg-gray-100">
                            Cancel
                        </a>
                        <button type="submit" class="w-20 rounded-md bg-red-900 px-3 py-1 text-white hover:bg-red-700">
                            Save
                        </button>
                    </div>

                </div>

            </form>   
        </div>

        <div id="failedNotif" class="absolute right-0 top-0 hidden items-center gap-2 rounded border border-red-400 bg-red-100 px-4 py-3 text-red-700" role="alert">
            <strong class="font-bold">Failed!</strong>
            <span class="block sm:inline" id="errReason">An error occurred in the operation.</span>
            <span class="px-4 py-1">
                <svg class="h-6 w-6 fill-current text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
            </span>
        </div>

    </body>
    <script src="/scripts/notification.js"></script>
</html>
