package layouts

templ DefaultLayout() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>OUR-SRTS</title>
			<!--<link rel="icon" type="image/x-icon" href="/public/logo.ico"/> -->
			<link rel="stylesheet" href="/assets/styles/style.css"/>
		</head>
		<body class="font-roboto">
			{ children... }
		</body>
	</html>
}
