<!DOCTYPE html>
<html lang="en">
    {{ template "head" }}

    <body>
        {{ template "header" .user }}
    
        <div class="grid grid-cols-10">
            {{ template "sidebar" }}

            <div class="col-span-7 py-4">
                <h1 class="mb-4 text-xl">Staff Management</h1>

                {{ template "add-staff" }}
                <table class="mt-4 w-full border text-sm">
                    <thead>
                        <tr class="border bg-gray-100 [&>*]:p-2">
                            <td>Fullname</td>
                            <td>Username</td>
                            <td>Role</td>
                            <td>Status</td>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody>
                        {{ if eq (len .users) 1 }}
                        <tr class="[&>*]:py-4">
                            <td colspan="5" align="center">No staff found</td>
                        </tr>
                        {{ else }}
                            {{ range .users }}
                                {{ if eq .Username $.user.Username }}
                                {{ else }}
                                <tr class="border hover:bg-gray-100 [&>*]:p-2">
                                    <td>{{ .Fullname }}</td>
                                    <td>{{ .Username }}</td>
                                    <td>
                                        {{ if eq .Role "admin" }}
                                        <span class="badge-admin">
                                            {{ .Role }}
                                        </span>
                                        {{ else }}
                                        <span class="badge-staff">
                                            {{ .Role }}
                                        </span>
                                        {{ end }}
                                    </td>
                                    <td>
                                        {{ if eq .Status "enabled" }}
                                        <span class="badge-active">
                                            {{ .Status }}
                                        </span>
                                        {{ else }}
                                        <span class="badge-inactive">
                                            {{ .Status }}
                                        </span>
                                        {{ end }}
                                    </td>
                                    <td>
                                        <div class="flex gap-2 [&>button]:w-16">
                                            {{ if eq .Status "enabled" }}
                                                {{ template "disable-staff" . }}
                                            {{ else }}
                                                {{ template "enable-staff" . }}
                                            {{ end }}

                                            {{ template "delete-staff" . }}
                                        </div>
                                    </td>
                                </tr>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>

    </body>
</html>
