<!DOCTYPE html>
<html lang="en">
    {{ template "head" }}

    <body>
        {{ template "header" .user }}

        <div class="grid grid-cols-10">

            {{ template "sidebar" }}

            <div class="col-span-7 py-4">
                <h1 class="mb-4 text-xl">Search student</h1>

                {{ template "searchbar" }}

                <table class="mt-4 w-full border text-sm">
                    <thead class="bg-gray-100">
                        <tr class="[&>*]:p-2">
                            <td>Control Number</td>
                            <td>Lastname</td>
                            <td>Firstname</td>
                            <td>Middlename</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        {{ if .students }}
                        {{ range .students }}
                        <tr class="border py-2 hover:bg-gray-100 [&>*]:p-2">
                            <td>{{ .Control_Number }}</td>
                            <td>{{ .Lastname }}</td>
                            <td>{{ .Firstname }}</td>
                            <td>{{ .Middlename }}</td>
                            <td>
                                <a 
                                    href="/student/{{ .Control_Number }}" 
                                    class="rounded bg-teal-900 px-3 py-1 text-white hover:bg-teal-700"
                                    >
                                    View
                                </a>
                            </td>
                        </tr>
                        {{ end }}
                        {{ else }}
                        <tr class="[&>*]:py-6">
                            <td colspan="5" align="center">No Results</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
            <script src="/scripts/search-autofocus.js"></script>
            <script>
                const programs = {{ .programs }}
                const selection = document.getElementById('programs')

                programs.forEach(program => {
                    const option = document.createElement("option");
                    option.value = program;
                    option.textContent = program;
                    selection.appendChild(option);
                })

                const search = localStorage.getItem('search')
                if (search) {
                    const { searchterm, type, program } = JSON.parse(search)
                    document.getElementById('search-bar').value = searchterm
                    document.getElementById('search-type').value = type
                    document.getElementById('programs').value = program
                }
            </script>

        </div>
    
    </body>
</html>
