@import "tailwindcss";

@theme {
    --color-primary: var(--color-red-900);

    --color-gray: var(--color-neutral-400);
    --color-success: var(--color-green-700);
    --color-error: var(--color-red-800);
    --color-warning: var(--color-amber-600);
}

.active {
    background-color: var(--color-primary);
    color: var(--color-white);
}

[x-cloak] {
    display: none !important;
}
